<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PhotoPost - Upload Photo</title>
    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="/assets/css/style-starter.css">
</head>

<body>
    <!-- header -->
    <div th:replace="header :: header"></div>
    <!-- //header -->
    
    <!-- Upload Photo -->
    <section class="w3l-contact py-5" id="contact">
        <div class="container py-md-5 py-4">
            <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
                <h3 class="title-style">Upload Photo</h3>
            </div>
            <div class="row login-block">
                <div class="col-md-6 login-center">
                    <form method="post" th:action="@{/user/save_photo}" th:object="${photo}" enctype="multipart/form-data" class="signin-form">
                        <div class="col-md-8 login-center input-grids">
                            <li class="alert alert-success" role="alert" th:if="${!#strings.isEmpty(message)}" th:text="${message}" />
                            <input type="file" name="file" accept="image/*" class="form-control-file">
                            <input type="text" th:field="*{description}" name="description" placeholder="Description" />
                            <div class="col-md-12" style="padding-bottom: 20px;">
                                <label for="Category">Category:</label>
                                <span style="display: flex;">
                                    <select class="form-control" name="category">
                                        <option th:field="*{category}" th:each="category : ${categories}" th:text="${category.categoryName}" th:value="${category.categoryId}">
                                    </select>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4 login-center text-start">
                            <button type="submit" class="btn btn-style btn-style-3 text-left">Upload image</button>
                        </div>
                    </form>
                    <span th:if="${msg != null}" th:text="${msg}"></span>
                </div>
            </div>
        </div>
    </section>
    <!-- //Upload Photo -->
    
    <!-- common jquery plugin -->
    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <!-- //common jquery plugin -->

    <!-- bootstrap -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- //bootstrap -->
    <!-- //Js scripts -->
</body>

</html>